body{
    background: linear-gradient(to top,#ffffff, #224acc);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: #000000 5px solid;
}
h1{
    border-style: solid;
    border-color: #000000;
    border-width: 5PX;
    background-color: #3917d1;
    color: #fff;
    text-align: center;
}
#box1{
    background-color: #17d183;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 250px;
    width: 250px;
    border: #000000 5px solid;
}
#box2{
    background-color: #17d183;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 250px;
    width: 250px;
    border: #000000 5px solid;
}